@import "tailwindcss";

/* Add this to your global CSS */
/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #cbd5e1; /* gray-300 */
  border-radius: 9999px;
}
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 transparent;
}

/* Target only the scrolling div: */
.thin-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.thin-scrollbar::-webkit-scrollbar-thumb {
  /* background-color: #cbd5e1; */
  background-color: blue;
  border-radius: 9999px;
}
.thin-scrollbar {
  scrollbar-width: thin;
  /* scrollbar-color: #cbd5e1 transparent; */
  scrollbar-color: rgb(179, 179, 247) transparent;
}
